form{
    display: inline-block;
    font-size: 19px;
    border: transparent;
    text-align: left;
}

form fieldset{
    background-color: blue;
    border-radius: 29px;
}

form fieldset legend{
    text-align: center;
    color: white;
    background-color: red;
    font-size: 24px;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 6px;
}

form strong{
    padding-right: 9px;
}

#Login_type{
    height: 36px;
    width: 236.8px;
}

#New_Password, #Confirm_Password{
    height: 29px;
    width: 229px;
}

#Reset{
    color: black;
    border-radius: 19px;
    font-size: 19px;
    font-weight: bolder;
}

#Reset:hover{
    cursor: pointer;
    color: white;
    background-color: red;
}