#sec1, #sec2, #sec3, #sec4, #sec5{
    border-radius: 29px;
    padding-bottom: 6px;
    background-color: rgba(210, 214, 92, 0.693);
}

.title{
    padding-left: 11px;
    padding-right: 11px;
    font-size: 29px;
    color: white;
    background-color: red;
    border-radius: 29px;
}

.imgs{
    height: 290px;
    width: 470px;
    border: 2px solid white;
    border-radius: 11px;
}

@media only screen and (min-width: 320px){
    .title{
        font-size: 29px;
        text-align: center;
    }
    
    .imgs{
        height: 200px;
        width: 281px;
    }
}

@media only screen and (min-width: 351px){
    .title{
        font-size: 29px;
    }
    
    .imgs{
    
        height: 200px;
        width: 290px;
    }
}

@media only screen and (min-width: 375px){
    .title{
        font-size: 29px;
    }
    
    .imgs{
    
        height: 240px;
        width: 338px;
    }
}

@media only screen and (min-width: 425px){
    .title{
        font-size: 29px;
    }
    
    .imgs{
    
        height: 260px;
        width: 380px;
    }
}

@media only screen and (min-width: 600px){
    .title{
        font-size: 29px;
    }
    
    .imgs{
    
        height: 380px;
        width: 551px;
    }
}

@media only screen and (min-width: 768px){
    .title{
        font-size: 29px;
    }
    
    .imgs{
    
        height: 380px;
        width: 551px;
    }
}

@media only screen and (min-width: 992px){
    .title{
        font-size: 42px;
    }
    
    .imgs{
        height: 360px;
        width: 560px;
    }
}

@media only screen and (min-width: 1024px){
    .title{
        font-size: 42px;
    }
    
    .imgs{
    
        height: 360px;
        width: 560px;
    }
}

@media only screen and (min-width: 1200px){
    .title{
        font-size: 42px;
    }
    
    .imgs{
    
        height: 360px;
        width: 560px;
    }
}

@media only screen and (min-width: 1440px){
    .title{
        font-size: 42px;
    }
    
    .imgs{
        height: 410px;
        width: 620px;
    }
}

@media only screen and (min-width: 1450px){
    .title{
        font-size: 42px;
    }
    
    .imgs{
        height: 410px;
        width: 620px;
    }
}

@media only screen and (min-width: 1920px){
    .title{
        font-size: 42px;
    }
    
    .imgs{
    
        height: 605px;
        width: 902px;
    }
}

@media only screen and (min-width: 2560px){
    .title{
        font-size: 69px;
    }
    
    .imgs{
    
        height: 650px;
        width: 960px;
    }
}



